:root { /* This edits the entire file */
    background-color: #ecf5ff;
    font-size: 60%;
    text-align: center;
  }
  
  * { 
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  h1 { /* edits the h1 tag in the html file */
    text-align: center; 
    font-size: 5.4rem;
    color: #56a5eb;
    margin-bottom: 5rem
  }
  
  #question{ /* edits the id = question in the html file */
    text-align: center; 
    font-size: 2rem;
    color: #56a5eb;
    margin-bottom: 2rem
  }
  
  #timer{ /* edits the id = timer in the html file */
    font-size: 1.8rem;
    text-align: center;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid #56a5eb;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #56a5eb;
    background-color: white;
  }
  
  /* This section is for the buttons */
  #startButton,
  #viewScores{
    font-size: 1.8rem;
    text-align: center;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid #56a5eb;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #56a5eb;
    background-color: white;
  }
  
  #startButton:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  }
  
  #viewScores:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  } 
  
  